# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.log
*.tlog
Debug/Super Hang-On.pdb
Debug/vc141.idb
Debug/vc141.pdb
.vs/Super Hang-On/v15/ipch/AutoPCH/78ed62f64393f1ca/MAIN.ipch
.vs/Super Hang-On/v15/Browse.VC.opendb
.vs/Super Hang-On/v15/Browse.VC.db
.vs/Super Hang-On/v15/.suo
Super Hang-On.vcxproj.user
